.itemsuggestions {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}
.itemsuggestions h1 {
  text-align: center;
}
.itemsuggestions-list {
  display: flex;
  gap: 10px; /* Điều chỉnh khoảng cách nhỏ hơn giữa các items */
  align-items: center;
  justify-content: center; /* Căn giữa các items */
  padding-bottom: 100px;
}
