/* UserManagement.css */

.user-management-container {
  padding: 20px;
  background-color: white; /* Màu nền trắng cho vùng nội dung */
  border-radius: 8px; /* Bo tròn góc */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.user-management-title {
  margin-bottom: 20px;
}

.user-management-add-button {
  margin-bottom: 20px;
}

.user-management-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-management-table {
  margin-top: 20px;
}

.user-management-modal {
  width: 100%;
}

.user-management-form-item {
  margin-bottom: 16px;
}
